/*--------------------------------------------------------------
1.0 - BASE SITE STYLES
--------------------------------------------------------------*/
*,*:after,*:before {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}

/*body {
  background: #3aaae8;
  color: #fff;
  font:12px/18px 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
}
a,a:visited {
  color:#fff
}

#usmap {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.table-responsive table {
	width: 100%;
	border-collapse: collapse;
}

.table-responsive table tr:nth-of-type(odd) { 
  background: #eee; 
}

.table-responsive table th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}

.table-responsive table td, .table-responsive table th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

.rssFeedContainer {
	float: right;
	height: 500px;
	border: 1px solid black;
	overflow: scroll;
	width: 470px;
}

.faq {
	border: 1px solid rgba(0, 0, 0, .5);
	border-radius: 5px;
	margin-bottom: 5px;
}

.faqSection {
	float: left;
	width: calc(100% - 475px);
	text-align: left;
}

.faq-question {
	width: 100%;
	border-radius: 3px;
	border: 1px solid transparent;
	font-weight: bold;
}

.faq-question:hover {
	cursor: pointer;
	background-color: rgba(78, 186, 255, .25);
}

.faq-question i {
	float: right;
}

.faq-answer {
	display: none;
	padding-left: 25px;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 3px;
}

.feedEkList {
	width: 100% !important;
}

.infographicsNational {
	width: 100% !important;
	clear: both;
}

.legend-text {
	float: left;
}

.color-box {   
    float: left;
    width: 10px;
    height: 10px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	.rssFeedContainer {
		width: 100% !important;
		clear: both;
		float: none;
	}
	
	.faqSection {
		width: 100% !important;
		float: none;
		display: table;
	}

	/* Force table to not be like tables anymore */
	.table-responsive table, .table-responsive table thead, .table-responsive table tbody, .table-responsive table th, .table-responsive table td, .table-responsive table tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.table-responsive table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.table-responsive table tr { border: 1px solid #ccc; }
	
	.table-responsive table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.table-responsive table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.table-responsive table td:nth-of-type(1):before { content: "Product"; }
	.table-responsive table td:nth-of-type(2):before { content: "Recall Reason"; }
	.table-responsive table td:nth-of-type(3):before { content: "Recall Initiation Data"; }
	.table-responsive table td:nth-of-type(4):before { content: "Recall Number"; }
	.table-responsive table td:nth-of-type(5):before { content: "Recalling Firm"; }
	.table-responsive table td:nth-of-type(6):before { content: "Classification"; }
	.table-responsive table td:nth-of-type(7):before { content: "Code Info"; }
	.table-responsive table td:nth-of-type(8):before { content: "Distribution Pattern"; }
}

/*--------------------------------------------------------------
2.0 - SEARCH FORM
--------------------------------------------------------------*/
.searchform {
  background:#f4f4f4;
  background:rgba(244,244,244,.79);
  border: 1px solid #d3d3d3;
  padding: 2px 5px;
  width: 100%;
  box-shadow:0 4px 9px rgba(0,0,0,.37);
  -moz-box-shadow:0 4px 9px rgba(0,0,0,.37);
  -webkit-box-shadow:0 4px 9px rgba(0,0,0,.37);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px
}

.searchform input, .searchform button {
	float: left
}
.searchform input {
	background:#fefefe;
	border: none;
	font:12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
	margin-right: 5px;
	padding: 10px;
	float: left;
	width: calc(100% - 100px);
	box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px
}
	.searchform input:focus {
		outline: none;
		box-shadow:0 0 4px #0d76be inset;
		-moz-box-shadow:0 0 4px #0d76be inset;
		-webkit-box-shadow:0 0 4px #0d76be inset;
	}
	.searchform input::-webkit-input-placeholder {
  	font-style: italic;
  	line-height: 15px
	}

	.searchform input:-moz-placeholder {
	  font-style: italic;
  	line-height: 15px
	}

.searchform button {
	background: rgb(52,173,236);
	background: -moz-linear-gradient(top, rgba(52,173,236,1) 0%, rgba(38,145,220,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,173,236,1)), color-stop(100%,rgba(38,145,220,1)));
	background: -webkit-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
	background: -o-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
	background: -ms-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
	background: linear-gradient(to bottom, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
	border: none;
	color:#fff;
	cursor: pointer;
	font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
	padding: 10px;
	float: right;
	width:90px;
	box-shadow: 0 0 2px #2692dd inset;
	-moz-box-shadow: 0 0 2px #2692dd inset;
	-webkit-box-shadow: 0 0 2px #2692dd inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}
	.searchform button:hover {
		opacity:.9;
	}